.top-line {
   
 border-bottom: 1px solid #ECECEC;

    @media screen and (min-width: 480px) {
        width: 480px;
      }
    
      @media screen and (min-width: 768px) {
        width: 768px;
      }
    
      @media screen and (min-width: 1280px) {
        width: 1280px;
      }

   }

 


.nav-list {
   
    margin-left: 85px;


    & .item+ .item {
        margin-left: 50px;
    }

    @media screen and (max-width: 480px) {
        display: none;
        width: 480px;
      }
    
      @media screen and (min-width: 768px) {
        width: 768px;
      }
    
      @media screen and (min-width: 1280px) {
        width: 1280px;
      }
 }

.address-nav {
 
    margin-left: auto;
    
    & .item+.item {
        margin-left: 30px;
    }

    @media screen and (min-width: 480px) {
        width: 480px;
      }
    
      @media screen and (min-width: 768px) {
        width: 768px;
      }
    
      @media screen and (min-width: 1280px) {
        width: 1280px;
      }
}
